{% extends "templates/custom_base.html" %}

{% block page_content %}


<div x-data="{picklist_id: `{{picklist_id}}`, crate_id: '', package_id: ''}">
    <form id="activityForm">
        <div class="form-group">
            <label for="picklist_id">Pick List</label>
            <select class="form-control" name="picklist_id" id="picklist_id" value="{{picklist_id}}"
                x-model="picklist_id" required>
                <option value="">Select Pick List</option>
                {% for o in pick_lists %}
                <option value="{{o.name}}" {{'selected' if o.name==picklist_id}}>{{o.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="picklist_summary" class="my-2">
            {% include "templates/includes/picklist_summary.html" %}
        </div>
        <div class="form-group">
            <label for="crate_id">Crate ID</label>
            <input type="text" class="form-control" name="crate_id" id="crate_id" x-model="crate_id" required>
        </div>
        <div class="form-group" id="package_id-form-group">
            <label for="package_id">Package ID</label>
            <select class="form-control" name="package_id" id="package_id" value="{{package_id}}" x-model="package_id">
                <option value="">Select Package</option>
                {% for o in package_ids %}
                <option value="{{o}}" {{'selected' if o==package_id}}>{{o}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="display: none;">
            <label for="weight">Weight</label>
            <input type="number" step="0.01" class="form-control" name="weight" id="weight">
        </div>
        <div class="form-group" id="form-group-quantity">
            <label for="quantity">Quantity</label>
            <input type="number" min="0" class="form-control" name="quantity" id="quantity" x-on:blur="confirm_quantity"
                required>
        </div>
        <input type="hidden" name="activity" id="activity" value="{{title}}">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ frappe.session.csrf_token }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div x-effect="get_crate_quantity(crate_id)"></div>
    <div x-effect="add_crate_as_package_option(crate_id)"></div>
    <div x-effect="get_picklist_summary(picklist_id)"></div>
    <div x-effect="get_package_ids(picklist_id)"></div>
    <div class="my-2">
        {% if message %}
        <p class="text-info">{{message}}</p>
        {% endif %}
        {% if show_crate_summary %}
        {% include "templates/includes/crate_summary.html" %}
        {% endif %}
        {% if show_item_summary %}
        {% include "templates/includes/item_summary.html" %}
        {% endif %}
    </div>

    <div class="my-2">
        {% include "templates/includes/cratelist.html" %}
    </div>
</div>
<script>
    const quantities = {};

    const add_crate_as_package_option = (crate_id) => {
        if (!crate_id) {
            return;
        }
        $('#package_id').append(new Option(crate_id, crate_id));
        $("#package_id").val(crate_id);
    }

    const confirm_quantity = () => {
        const crate_id = $("#crate_id").val();
        const quantity = $("#quantity").val();
        const package_id = $("#package_id").val();
        if (quantities[crate_id]) {
            if (quantity > quantities[crate_id]) {
                alert("Quantity cannot be greater than " + quantities[crate_id]);
                $("#quantity").val(quantities[crate_id]);
            } else if (quantity < quantities[crate_id]) {
                if (package_id === crate_id) {
                    frappe.msgprint("Please select a package to move this SKU into. By default, a new package will be created.");
                    $("#package_id").val("New");
                }
            } else {
                // equal
                add_crate_as_package_option(crate_id);
            }
        }
    }

    const get_package_ids = (picklist_id) => {
        frappe.call({
            method: "iotready_godesi.api.get_package_ids",
            type: "POST",
            args: {
                picklist_id
            },
            callback: (r) => {
                if (r.exc) {
                    frappe.throw(r.exc);
                } else {
                    $("#package_id option").each(function () {
                        $(this).remove();
                    });
                    r.message.map((id) => {
                        $('#package_id').append(new Option(id, id))
                    });
                }
            },
            freeze: true,
            freeze_message: "Please wait...",
            async: true,
        });
    }

    const get_picklist_summary = (picklist_id) => {
        frappe.call({
            method: "iotready_godesi.api.get_picklist_summary",
            type: "POST",
            args: {
                picklist_id
            },
            callback: (r) => {
                if (r.exc) {
                    frappe.throw(r.exc);
                } else {
                    $("#picklist_summary").html(r.message);
                }
            },
            freeze: true,
            freeze_message: "Please wait...",
            async: true,
        });
    }

    const get_crate_quantity = (crate_id) => {
        if (!crate_id) {
            return;
        }
        frappe.call({
            method: "iotready_godesi.api.get_crate_quantity",
            type: "POST",
            args: {
                crate_id
            },
            callback: (r) => {
                if (r.exc) {
                    frappe.throw(r.exc);
                } else {
                    $("#quantity").val(r.message);
                    // also set the max value to the quantity
                    $("#quantity").attr("max", r.message);
                    quantities[crate_id] = r.message;
                }
            },
            freeze: true,
            freeze_message: "Please wait...",
            async: true,
        });
    }

    // iotready_godesi.api.submit_activity_form
    const submit_form = () => {
        const crate_id = $("#crate_id").val();
        if (!crate_id) {
            return;
        }
        const picked_quantity = $("#quantity").val();
        const payload = {
            picklist_id: $("#picklist_id").val(),
            package_id: $("#package_id").val(),
            crate_id: crate_id,
            picked_weight: $("#weight").val(),
            picked_quantity: picked_quantity,
            activity: $("#activity").val(),
            csrf_token: $("#csrf_token").val(),
        };
        frappe.call({
            method: "iotready_godesi.api.submit_activity_form",
            type: "POST",
            args: payload,
            callback: (r) => {
                if (r.exc) {
                    frappe.throw(r.exc);
                } else {
                    if (r.message.success) {
                        // Remove any card with the same crate_id
                        $(`#${crate_id}`).remove();
                        // insert r.html at the top of #cratelist
                        $("#cratelist").prepend(r.message.html);
                        get_picklist_summary(payload.picklist_id);
                        get_package_ids(payload.picklist_id);
                    } else if (r.message.missing_package_id) {
                        frappe.msgprint("Please enter package id");
                        get_package_ids(payload.picklist_id);
                    }
                }
            },
            freeze: true,
            freeze_message: "Please wait...",
            async: true,
        });
    }

    activityForm.addEventListener("submit", function (event) {
        event.preventDefault();
        submit_form();
    });
</script>

{% endblock %}